.formContainer {
  background-color: white;
  border-radius: 8px;
  min-width: 300px;
  width: 60%;
  max-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 20px;
    font-weight: normal;
    color: #2f2f2f;
  }

  h2 {
    font-size: 30px;
    font-weight: bolder;
    color: #6358dc;
  }

  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .inputContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ececec;
      padding: 10px 15px;
      border-radius: 8px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 80%;

        label {
          font-size: 11px;
        }

        input {
          border: none;
          font-weight: bold;
          background-color: inherit;
          font-size: 13px;
          color: #2f2f2f;
        }
      }

      svg {
        width: 25px;
        height: 20px;
      }
    }

    button {
      margin-top: 10px;
      border: none;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      color: white;
      background-color: #6358dc;
      border-radius: 8px;
      transition-duration: 0.3s;
    }

    button:hover {
      background-color: #4235d6;
    }

    p {
      text-align: center;
      font-size: 12px;

      b {
        cursor: pointer;
        color: #6358dc;
      }

      b:hover {
        text-decoration: underline;
      }
    }
  }
}

.toast {
  transition-duration: 0.3s;
  background-color: #6358dc75;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  padding: 10px;
}

.welcome {
  padding: 35px 75px;
  background-color: white;
  border-radius: 8px;
  text-align: center;

  h2 {
    font-weight: bold;
    color: #6358dc;
    font-size: 25px;
  }

  h3 {
    font-weight: normal;
    color: #2f2f2f;
  }

  .buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;

    button {
      background-color: #6358dc;
      border: none;
      cursor: pointer;
      color: white;
      padding: 5px 20px;
      border-radius: 3px;
      transition-duration: 0.3s;
    }

    button:hover {
      background-color: #4235d6;
    }
  }
}
