* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
}

*::selection {
  background: #6358dc;
  color: white;
}
